---
import '@fontsource-variable/inter';
import '@fontsource-variable/jetbrains-mono';
import '../styles/global.css';
import '../styles/Post.css';
import Navbar from '../components/Navbar.astro';
import Giscus from '@giscus/vue';

interface Props {
	frontmatter: {
    title: string;
  }
}

const { title } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="CrossScar's Blog" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/blog/logo.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title} - CrossScar</title>
	</head>
	<body>
		<Navbar />
		<main>
      <h1>{title}</h1>
      <slot />
      <Giscus
        repo="CommanderGL/blog"
        repoId="R_kgDOLHILUQ"
        category="General"
        categoryId="DIC_kwDOLHILUc4CfpDC"
        mapping="pathname"
        strict="1"
        reactionsEnabled="1"
        emitMetadata="0"
        inputPosition="top"
        theme="https://giscus.catppuccin.com/themes/mocha.css"
        lang="en"
        loading="lazy"
        client:only="vue"
      />
    </main>
	</body>
</html>
